<div class="container-fluid">
	<h3><span translate="product-dgl.new"/></h3>
	<h3><span translate="product-dgl.add"/></h3>

	<h4><span translate="product-dgl.Product"/></h4> <input type="text" ng-model="product.name" autofocus></br>
	<h4><span translate="product-dgl.Price"/></h4> <input type="text" ng-model="product.price"></br>
	<h4><span translate="product-dgl.Image"/></h4> <input type="text" ng-model="product.imagePath"></br>
	<br>
	<button class="btn btn-default" ng-click="onOk()"><span translate="product-dgl.addupdate"/></button>
	<button class="btn btn-default" ng-click="onCancel()"><span translate="product-dgl.cancel"/></button>
	<br>
</div>