<!DOCTYPE html>
<html ng-app="project3App">
<head>
	<title>WEPO Assignment 3 - Online Web Store</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="shortcut icon" href=""> <!-- Added to get rid of favicon.ico not found error. -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles/vendor.css">
	<link rel="stylesheet" href="styles/app.css">
</head>
<body>


	<div class="wrapper">
		
		<div id="myHeader" class="well well-sm">
			<h1 style="margin-left: 20px;">Angular Online Web Store<small></small></h1>
				<!--<div class="btn-group">
			  		<ul ng-controller="LanguageController">
			  		  <button ng-click="switchLanguage('en')">English</button>
			  		  <button ng-click="switchLanguage('is')">íslenska</button>
			 		</ul>
				</div>-->
		</div>

		<div id="content">
			<div ng-view></div>
		</div>

		<div id="myFooter" class="well well-sm footer">
			<span class="glyphicon glyphicon-copyright-mark"></span>
			<span class="h5">Kristinn H. Freysteinsson & Sturla Halldórsson - Skilaverkefni 3 - WEPO 2016</span>
		</div>
	</div>

	<!--<main class="container-fluid">
		<div class="Main clearfix" ng-view id="content"></div>
	</main>-->


	<toaster-container></toaster-container>
	<!-- inject:vendor:js -->
	<script src="src/vendor/angular/angular.js"></script>
	<script src="src/vendor/jquery/dist/jquery.js"></script>
	<script src="src/vendor/angular-route/angular-route.js"></script>
	<script src="src/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="src/vendor/angular-translate/angular-translate.js"></script>
	<script src="src/vendor/angular-toastr/dist/angular-toastr.tpls.js"></script>
	<script src="src/vendor/angular-mocks/angular-mocks.js"></script>
	<script src="src/vendor/lodash/lodash.js"></script>
	<script src="src/vendor/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endinject -->

	<!-- inject:app:js -->
	<script src="scripts/app-b623eb08.js"></script>
	<script src="scripts/appconfig.js"></script>
	<!-- endinject -->

	<!-- inject:templates:js -->
	<script src="scripts/templates-136efc80.js"></script>
	<!-- endinject -->
</body>

</html>
