

<img class="imgSeller" src="{{seller.imagePath}}" >
  
  <table class="tab">
    <tr>
      <td><h5><span translate="sellersdetails.Seller"/></h5> </td>
      <td><h4>{{seller.name}}</h4></td>
    </tr>
    <tr>
      <td><h5><span translate="sellersdetails.Category"/></h5></td>
      <td><h4>{{seller.category}}</h4></td>
    </tr>
  </table>



<div ng-controller="ProductController" >
  <button class="btn btn-default pull-right" ng-click="onAddProduct()"><span translate="sellersdetails.addupdate">
  </button>

  <div class="tab-position">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href data-target="#prod" ng-click="onAllProduct()"><span translate="sellersdetails.Products"></a></li>
        <li><a data-toggle="tab" href data-target="#top" ng-click="onTopProduct()"><span translate="sellersdetails.Top10"></a></li>
      </ul>   

      <div class="tab-content">
        <div id="prod" class="tab-pane fade in active">
           <product-card ng-repeat = "p in products"
           ng-model="p">
          </product-card>
        </div>

      <div id="top" class="tab-pane fade">
        <product-card ng-repeat = "p in products"
          ng-model="p">
          </product-card>
        </div>
      </div>    
    </div>    
  </div>
</div>

   

