@bg-color: #006666;

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
.wrapper {
	min-height:100%;
	position:relative;
}
#myHeader {
	background-color: @bg-color;
	color: white;
	padding: 20px;
	margin-bottom: 0px;
	text-align: center;
}
#main_content {
	padding-bottom:40px;
}
#myFooter {
	width: 100%;
	background-color: @bg-color;
	color: white;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
}

.imgSeller {
	float: left;
	max-width: 100%; 
	margin-top: 20px;
	margin-bottom: 20px;
	height: 250px;
}

.tab-position{
	clear:both; 
}

#header_title {
	padding: 20px;
	display: inline;
}
.menu_dropdown {
	padding-right: 16px;
}
.tab{
	margin-top:50px;
	width: 400px;
	padding:30px

}